/*
.widget .label {} -> Global label for all
.active-window-widget {} -> Styles specific to the active window widget
.clock-widget {} -> Styles specific to the clock widget
.cpu-widget {} -> Styles specific to the CPU widget
.memory-widget {} -> Styles specific to the memory widget
.weather-widget {} -> Styles specific to the weather widget
.komorebi-workspaces {} -> Styles specific to komorebi workspaces
.komorebi-active-layout {} -> Styles specific to komorebi active layout
.volume-widget {} -> Styles specific to the volume widget
.apps-widget {} -> Styles specific to the apps widget
.power-menu-widget {} -> Styles for the power menu button widget
.power-menu-popup {} -> Styles for the power menu popup widget
.power-menu-popup > .button {} -> Styles for power buttons inside the popup
.power-menu-popup > .button > .icon,
.power-menu-popup > .button > .label {} -> Styles for power buttons icons and labels inside the popup
.media-widget {} -> Styles specific to the media widget
.github-widget {} -> Styles specific to the github widget
*/
* {
    font-size: 11px;
    color: #a7c080;
    font-weight: 400;
    font-family: "FiraCode Nerd Font";
    margin: 0;
    padding: 0;
}
.yasb-bar {
    padding: 0 8px;
    margin: 0;
    background-color: #293136;
}
.widget {
    padding: 0 8px;
    margin: 0;
}

.active-window-widget .icon {
    margin-right: 8px;
}

.komorebi-workspaces .widget-container {
    margin-left: 0px;
}
.komorebi-workspaces .widget-container {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}
.komorebi-workspaces .offline-status {
    color: var(--subtext1);
    font-size: 12px;
    padding: 0 0px;
    font-weight: 600;
}
.komorebi-workspaces .ws-btn {
    border: none;
    background-color: #374145;
    margin: 0 3px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    color: #374145;
}
.komorebi-workspaces .ws-btn:hover {
    color: #232a2e;
    background-color: #232a2e;
}
.komorebi-workspaces .ws-btn.populated:hover {
    color: rgba(0, 0, 0, 0);
    background-color: var(--overlay1);
}
.komorebi-workspaces .ws-btn.populated {
    color: rgba(0, 0, 0, 0);
    background-color: #dbbc7f;
}
.komorebi-workspaces .ws-btn.active {
    color: rgba(0, 0, 0, 0);
    background-color: #a7c080;
    width: 28px;
    height: 10px;
}

/*POWER MENU WIDGET*/
.uptime {
    font-size: 14px;
    margin-bottom: 10px;
    color: #83c092;
    font-weight: 600;
    font-family: "Segoe UI";
}
.power-menu-widget .label {
    color: #e67e80;
    font-size: 13px;
}
.power-menu-popup {
    background-color: #1e2326;
    border-radius: 12px;
    border: 4px solid #232a2e;
}
.power-menu-popup .button {
    padding: 0;
    width: 240px;
    height: 120px;
    border-radius: 8px;
    background-color: #232a2e;
    font-family: "Segoe UI";
    color: #83c092;
    border: 1px solid #232a2e;
    margin: 8px;
}
.power-menu-popup .button.hover {
    background-color: #293136;
    border: 1px solid #293136;
}
.power-menu-popup .button .label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #83c092;
    font-family: "Segoe UI";
}
.power-menu-popup .button .icon {
    font-size: 48px;
    padding-top: 8px;
    color: #83c092;
}
.power-menu-popup .button.cancel .icon {
    color: #e67e80;
}
.power-menu-popup .button.cancel .label {
    color: #e67e80;
}
.power-menu-popup .button.shutdown .icon {
    color: #7fbbb3;
}
.power-menu-popup .button.shutdown .label {
    color: #7fbbb3;
}

/*ICONS*/
.icon {
    font-size: 16px;
}
.volume-widget .icon {
    color: #83c092;
}

.cpu-widget .icon,
.gpu-widget .icon,
.memory-widget .icon,
.volume-widget .icon,
.weather-widget .icon,
.wifi-widget .icon {
    margin: 0 4px 1px 0;
}
.cpu-widget .icon,
.gpu-widget .icon,
.memory-widget .icon {
    font-size: 14px;
    color: #83c092;
}

.gpu-widget .icon {
    font-size: 22px;
}
.memory-widget .icon {
    color: #83c092;
}
.wifi-widget .icon {
    font-size: 14px;
    color: #83c092;
}
.weather-widget .icon.sunnyDay {
    color: #dbbc7f;
}

.weather-widget .label.sunnyDay {
    color: #dbbc7f;
}
.weather-widget .icon.clearNight {
    color: #7fbbb3;
    font-size: 22px;
    margin: 1px 2px 0px 0;
}

.apps-widget .widget-container {
    background-color: #374145;
    border: 1px solid #374145;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-radius: 15px;
}

.apps-widget {
    padding: 2px 0px 0px 4px;
}
.apps-widget .label {
    font-size: 12px;
    padding: 0 3px;
    color: #83c092;
}

/* MEDIA WIDGET */
.media-widget {
    padding: 0;
    padding-left: 2px;
    margin: 0;
    border-radius: 16px;
    margin-right: 8px;
}
.media-widget .label {
    background-color: #1e232600;
}
.media-widget .btn {
    color: #83c092;
    padding: 0 3px;
    margin: 4px 0;
    font-family: Segoe Fluent Icons;
}
.media-widget .btn:hover {
    color: #dbbc7f;
}
.media-widget .btn.play {
    background-color: #293136;
    border-radius: 12px;
    font-size: 14px;
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
    color: #293136;
    font-size: 12px;
    background-color: #293136;
}

/*CALENDAR AND VOLUME SLIDER*/
.calendar {
    background-color: #293136;
}
.calendar .calendar-table,
.calendar .calendar-table::item {
    background-color: rgba(17, 17, 27, 0);
    color: #7fbbb3;
    font-family: "Segoe UI";
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.calendar .calendar-table::item:selected {
    color: #dbbc7f;
    border: 2px solid #232a2e;
    background-color: #232a2e;
    border-radius: 10px;
}
.calendar .day-label {
    margin-top: 20px;
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
    font-family: "Segoe UI";
    font-size: 16px;
    color: #a7c080;
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}
.calendar .month-label {
    font-weight: normal;
}
.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    color: #a7c080;
    margin-top: -20px;
}

.volume-slider {
    border: none;
}

.volume-slider::handle {
    color: #83c092;
    border: 1px solid #83c092;
    border-radius: 7px;
    background-color: #83c092;
}
.audio-menu {
    background-color: #293136;
}
.audio-container .device {
    background-color: transparent;
    border: none;
    padding: 6px 8px 6px 4px;
    margin: 2px 0;
    font-size: 12px;
    border-radius: 4px;
}
.audio-container .device.selected {
    background-color: #374145;
}
.audio-container .device:hover {
    background-color: #232a2e;
}

.taskbar-widget .app-container {
    margin: 4px 2px;
    border-radius: 4px;
    padding: 0 4px;
}
.taskbar-widget .app-container.foreground {
    background-color: rgba(255, 255, 255, 0.1);
}
.taskbar-widget .app-container.flashing {
    background-color: rgba(255, 106, 106, 0.63);
}
.taskbar-widget .app-container.running {
    background-color: rgba(255, 255, 255, 0.25);
}
.taskbar-widget .app-container:hover {
    background-color: rgba(255, 255, 255, 0.15);
}
.taskbar-widget .app-container .app-title {
    padding-left: 4px;
}
/* Taskbar preview popup is very limited in styling options, do not use margins/paddings here */
.taskbar-preview {
    border-radius: 8px;
    background-color: #2b2c2d;
}
.taskbar-preview.flashing {
    background-color: #7f434a;
}
.taskbar-preview .header {
    padding-bottom: 12px;
    padding-top: 4px;
}
.taskbar-preview .header .title {
    color: #d6d6d6;
    font-family: "Segoe UI";
    font-weight: 600;
    font-size: 13px;
}

.systeminfo-grouper .container {
    /* The name of the css class is the name given in the config */
    background-color: #374145;
    border: 1px solid #374145;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-radius: 15px;
}

.systeminfo-grouper .grouper-button {
    font-size: 12px;
    color: #ffffff;
    padding: 0 8px;
    background-color: transparent;
    border: none;
}

.systeminfo-grouper .grouper-button:hover {
    color: #88c0d0;
}

.glazewm-grouper .container {
    background-color: rgba(46, 52, 64, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 4 0px;
    border-radius: 12px;
}
